*
/* @font-face {
    font-family: roboto;
    src: url("http://fonts.googleapis.com/css?family=Roboto");
} SUBSCRIBE BUTTON CSS */
.subscribe-btn{
    display: inline-block;
    vertical-align: top;
    background-color: red;
    font-style:roboto;
    color: white;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 4px;
}
.subscribe-btn:hover{
    opacity: 0.6;
}
.subscribe-btn:active{
    background-color: grey; 
}

/* JOIN BUTTON CSS */
.join-btn{ 
    display: inline-block;
    vertical-align: top;
    background-color: white;
    color: rgb(41, 118, 211);
    border-color: #2976d3;
    border-width: 0.8px;
    border-style: solid;
    border-radius: 2px;
    padding: 9px;
    cursor: pointer;
    margin-right: 4px;
}
.join-btn:hover{
    background-color: #2976d3;
    color: white;
    transition: background-color 0.3s, color 0.8s;
}
.join-btn:active{
    opacity: 0.6;
}



/* tweet BUTTON CSS */
.tweet-btn{
    display: inline-block;
    vertical-align: top;
    background-color: #1d9bf0;
    color: white;
    font-weight: bold;
    padding: 8px;
    padding-bottom: 6px;
    padding-top: 6px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 20px;
    border-style: solid;
    border-color: #1d9bf0;
    cursor: pointer;

}  
.tweet-btn:hover{
    opacity: 0.8;
}
.tweet-btn:active{
    opacity: 0.6;
}
