body{
  font-family: Arial;
}
p{
  font-family: Arial;
}

.search-bar{
  align-content: top;
  top: 0;
  width: 300px;
  height: 20px;
  border-radius: 5px;
  font-size: 18px;
}
.video-title{
  display: inline;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.channel-name{
  display: inline-block;
  color: #606060;
  cursor: pointer;
}

.video-details{
  cursor: pointer;
  font-size: 14px;
  color: #606060;
}


.channel-name:hover{
  color: rgb(53, 52, 52);
}
.video-details:hover{
  color: rgb(53, 52, 52);
}

.course-title{
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 0;
}

.course-audience{
  color: #606060;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 0;
}
.course-description{
  inline-size: 300px;
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}
.get-started-btn{
  display: inline;
  font-family: Verdana;
  font-size: 20px;
  color: whitesmoke;
  float: left;
  cursor: pointer;
  background-color: #168b16;
  border-radius: 8px;
  border: none;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  position:fixed; left:7px; top:260px;

}
::selection {
  color: #fff;
  background: red;
}
.get-started-btn:hover{
  opacity: 0.7;
}
.get-started-btn:active{
  background-color: #42ad42;
}
.rookie{
  cursor: pointer;
}
.rookie:hover{
  color:rgb(22, 139, 22);
}
.pro-coder{
  cursor: pointer;
}
.pro-coder:hover{
  color: rgb(212, 54, 54);
}

.twitter-username{
  margin-top: 60px;
  font-weight: bold;

}.twitter-usertag{
  display: inline;
  cursor: pointer;
  margin: 0;
  color: #606060;
  position: relative; left: 150px; bottom:34px;
}
.twitter-upload-date{
  display: inline-block;
  color: #4e4d4d;
  position: relative; left: 280px; bottom: 68px;
}

.twitter-description{
  display: inline;
  cursor: pointer;
  font-weight:normal;
  font-size: 18px;
  margin: 0;
  position: relative; bottom: 75px;
  inline-size: 500px;
}

.tag-span{
  color: #2976d3;
  cursor: pointer;
}

.twitter-username:hover{
  color:#606060;
}
.twitter-usertag:hover{
  color: #2976d3;
}

.new-title{
  display: inline-block;
  color: #FF7F50;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: -500px;
  margin-bottom: 0;
}
.product-title{
  display: inline-block;
  font-weight: bold;
  font-size: 25px; 
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  margin-top: 10px;
}
.product-description{
  display: inline-block;
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

.product-price{
  display: inline-block;
  font-weight: normal;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: -20px;

}
.span-price{
  cursor: pointer;
}
.span-price:hover{
  color: redn;;
}


.product-buy-btn{
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  background-color: #2976d3;
  padding: 10px;
  padding-right: 15px;
  padding-left: 15px;
  border: none;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;

}
.product-buy-btn:hover{
  opacity: 0.6;

}
.product-buy-btn:active{
  background-color:#5b95dd;
}

.stcks-balance{
  font-size: 25px;
  font-weight:normal;
  display: inline-block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  
}

.currency-span{
  color: #606060;
  font-size: 18px;
}
.daily-stats{

  color: #479e47;
  font-weight: normal;
  font-size: 16px;
  display: inline-block;
  text-align: center;
  margin-top: -20px;
  margin-left: auto;
  margin-right: 20px;
}
.afterhours-stats{
  display: inline-block;
  color:#606060;
  font-weight: normal;
  text-align: center;
  margin-top: -10px;
}
.stocks-loss-span{
  display: inline-block;
  font-weight: normal;
  color: red;
}